/* CustomCursor.module.css */
/* .cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.15s ease-in-out;
  z-index: 9999;
} */
