@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6EFE3;
  --background-black: #101010;
  --font-color: #101010;
  --off-white: #FDFCF8;
  --ivory: #F6EFE3;
  --nude: #E3DBCC;
  --obsidian: #101010;
  --accent: #C4572A;
}

/* * {
  cursor: none;
} */

body {
  color: var(--font-color);
  
}
::-webkit-scrollbar {
  display: none;
}

a {
  font-size: 14px;
  line-height: 1.5;
}

.Work_title {
  font-size: 102px;
  line-height: 1.5;
}

.title_thanks {
  font-size: 102px;
}


.qAndA_title {
  font-size: 102px;
  line-height: 1;
 
}

.border {
  border: 1px solid var(--color-mother-earth);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


